.input-container {
    .input-box {
        width: 500px;
        padding: 10px;
        margin: auto;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}

.autoComplete-box {
    border: 1px solid #ccc;
    width: 500px;
    margin: auto;
    text-align: left;
    padding: 3px;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: scroll;
}

.result:hover {
    cursor: pointer;
    background-color: yellow;
}

.tabs {
    display: flex;
}

.tab {
    padding: 5px;
    border: 1px solid #ccc;
}